header{
    background-color: #0AF6B3;
    padding: 10px;

    div{
        display: inline-block;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (min-width:640px){
    header{
        background-color: #0AF6B3;

        div{
            flex-direction: row;
            padding: 5px;
        }
    }
}