header{
    background-color: #0AF6B3;
    padding: 10px;

    div{
        display: inline-block;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}