main{
    > div{
        background-color: $color__quinario;
        padding: 10px;
        margin-bottom: 30px;
        border-radius: 10px;

        p{
            margin: auto;
        }
    }
    h2{
        color: rgb(0, 0, 0);
        margin-bottom: 20px;
        padding: 10px;
        border-radius: 10px;
        background-color: $color__primario;
        font-weight: 600;
    }
    h3{
        background-color: $color__secundario;
        padding: 10px;
        border-radius: 10px;
        font-weight: 600;
        text-align: center;
        color: $color__terciario;
        width: 100%;
    }
}