.mainbackgrhidalgo{
    background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/double-bubble-dark.png");
    padding: 20px 0px;

    h1{
        text-align: center;
        font-weight: 900;
        font-size: 70px;
        margin: 50px auto;
        color: white;
        text-shadow: 0px 0px 13px #000000;
    }
    h2{
        font-weight: 600;
        color: #000000;
    }
    .containermainpgs{
        border-radius: 10px;
        margin: 20px 15px;
        padding: 20px;

        h2{
            color: rgb(0, 0, 0);
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 10px;
            background-color: darkgreen;
            font-weight: 600;
        }       
        article{
            background-color: #0af6b388;
            border-radius: 10px;
            margin: 5px 0px;
            padding: 10px;
            position: relative;
            padding-top: 30px;

            .buttonlayoutarticlediv{
                display: block;
                color: #000000;
                background-color: transparent;
                width: 26px;
                height: 26px;
                margin-bottom: 5px;
                border-radius: 15px;
                border: solid 0px;
                text-align: center;
                font-size: 20px;
                position: absolute;
                right: 10px;
                transition: background-color 0.3s, box-shadow 0.3s;

                &:hover{
                    color: red;
                    background-color: white;
                    box-shadow: 1px 7px 33px 4px rgba(0,0,0,0.9);
                    -webkit-box-shadow: 1px 7px 33px 4px rgba(0,0,0,0.9);
                    -moz-box-shadow: 1px 7px 33px 4px rgba(0,0,0,0.9);
                }
            }
            h4{
                padding: 10px;
                border-radius: 10px;
                background-color: white;
                font-weight: 600;
                color: red;
                margin-top: 40px;
            }            
        }       
    }    
    .h1pstyle{
        display: block;
        background-color: #0af6b382;
        margin: auto 35px;
    }
    .h5p{
        color: white;
        text-align: justify;
    }
    
}
.gridcontainerinterarticle{
    display: grid;
    grid-template-rows: 1fr 3fr;
    background-color: crimson;
    border-radius: 10px;
    padding: 5px 0px;
    width: auto;
    color: white;

     div{
        width: auto;
    }
     h5{
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        font-weight: 600;
    }
    p{
        display: block;
        text-align: justify;
        margin: 5px 10px;
    }
    iframe{
        display: block;
        margin: 0 auto;
        width: 72vw;
        height: 27vh;
        border-radius: 5px;
        transition: width 0.3s, height 0.3s, box-shadow 0.3s;

        &hover{
            width: 75vw;
            height: 30vh;
            box-shadow: 1px 7px 33px 4px rgba(0,0,0,0.9);
            -webkit-box-shadow: 1px 7px 33px 4px rgba(0,0,0,0.9);
            -moz-box-shadow: 1px 7px 33px 4px rgba(0,0,0,0.9);
        }
    }
}
.gridcontainerinterarticlewthoiframe{
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-color: crimson;
    border-radius: 10px;
    padding: 5px 0px;
    width: auto;
    color: white;

    h5{
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        font-weight: 600;
    }    
    p{
        display: block;
        text-align: justify;
        margin: 5px 10px;
    }
}
.carruselmod{
    /* min-width: 350px; */
    max-width: 72vw;
    min-height: 300px;
    max-height: auto;
    margin: 20px auto;
    border-radius: 5px;
    transition: max-width 0.3s, box-shadow 0.3s;

    img{
        border-radius: 5px;
    }
    div div{
        margin: 0 auto;
    }
    &:hover{
        max-width: 75vw;
        box-shadow: 1px 7px 33px 4px rgba(0,0,0,0.9);
        -webkit-box-shadow: 1px 7px 33px 4px rgba(0,0,0,0.9);
        -moz-box-shadow: 1px 7px 33px 4px rgba(0,0,0,0.9);
    }
}

@media(min-width:700px){
    .gridcontainerinterarticle{
        grid-template-columns: 1fr 2fr;
        grid-template-rows: none;

        iframe{
            width: 52vw;

            &:hover{
                width: 55vw;
                box-shadow: 1px 7px 33px 4px rgba(0,0,0,0.9);
                -webkit-box-shadow: 1px 7px 33px 4px rgba(0,0,0,0.9);
                -moz-box-shadow: 1px 7px 33px 4px rgba(0,0,0,0.9);
            }
        }
    }
    .gridcontainerinterarticlewthoiframe{
        grid-template-columns: 1fr 2fr;
        grid-template-rows: none;
    }
    .carruselmod{
        max-width: 52vw;

        &:hover{
            max-width: 55vw;
            box-shadow: 1px 7px 33px 4px rgba(0,0,0,0.9);
            -webkit-box-shadow: 1px 7px 33px 4px rgba(0,0,0,0.9);
            -moz-box-shadow: 1px 7px 33px 4px rgba(0,0,0,0.9);
        }
    }   
}
@media (max-width:460px){
    h1{
        font-size: 50px;
    }
    .movileviewmedia{
        height: 550px;
    } 
}