.logo{
    display: flex;
    align-items: center;

    .logo__escudo{
        width: 60px;
        height: auto;
        margin-right: 10px;
    }
    h2{
        font-weight: 600;
        font-size: x-large;

        .h2__mexicogreen{
            color: $color__primario;
        }
        .h2__mexicowhite{
            color: $color__secundario;
        }
        .h2__mexicored{
            color: $color__terciario;
        }
    }

}