.logo{
    display: flex;
    align-items: center;

    .escudo{
        width: 60px;
        height: auto;
        margin-right: 10px;
    }
    h2{
        font-weight: 600;
        font-size: x-large;

        .mexicogreen{
            color: darkgreen;
        }
        .mexicowhite{
            color: white;
        }
        .mexicored{
            color: crimson;
        }
    }

}