.tarjetahover{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    height: 250px;

    #real-del-monte{background-image: radial-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4)), url("../media/real-del-monte-movile.jpg");}
    #cuetzalan{background-image: radial-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4)), url("../media/cuetzalan-movile.jpg");}
    #san-miguel-de-allende{background-image: radial-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4)), url("../media/san-miguel-de-allende-movile.jpg");}
    > div:first-child{
        display: flex;
        position: absolute;
        width: 100%;
        height: 250px;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        backface-visibility: hidden;
        transform: perspective(600px) rotateY(0deg);
        transition: 1s;
        
        h4{
            padding: 10px;
            border-radius: 10px;
            font-weight: 600;
            text-align: center;
            color: $color__terciario;
            text-shadow: 0px 0px 10px #000000;
        }
    }
    > div:last-child{
        background-color: $color__cuaternario;
        position: absolute;
        width: 100%;
        height: 250px;
        padding: 10px;
        border-radius: 10px;
        backface-visibility: hidden;
        transform: perspective(600px) rotateY(180deg);
        transition: 1s;

        div{
            height: 100%;

            iframe{
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
        }
    }

    &:hover{
        > div:first-child{
            transform: perspective(600px) rotateY(180deg);
        }
        > div:last-child{
            transform: perspective(600px) rotateY(360deg);
        }
    }

    &--y{
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        height: 250px;

        #yoloxochitl{background-image: radial-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4)), url("../media/yoloxochitl-movile.jpeg");}
        #biznaga{background-image: radial-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4)), url("../media/biznaga-movile.jpg");}
        #maiz{background-image: radial-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4)), url("../media/maiz-movile.jpg");}
        #Guayabo{background-image: radial-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4)), url("../media/guayabo-movile.jpg");}
        #aguila-real{background-image: radial-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4)), url("../media/aguila-real-movile.jpg");}
        #quetzal{background-image: radial-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4)), url("../media/quetzal-movile.jpg");}
        #oso-negro{background-image: radial-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4)), url("../media/oso-negro-movile.jpg");}
        #guajolote{background-image: radial-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4)), url("../media/guajolote-movile.jpg");}
        > div:first-child{
            display: flex;
            position: absolute;
            width: 100%;
            height: 250px;
            border-radius: 10px;
            align-items: center;
            justify-content: center;
            backface-visibility: hidden;
            transform: perspective(600px) rotateX(0deg);
            transition: 1s;
            
            h4{
                padding: 10px;
                border-radius: 10px;
                font-weight: 600;
                text-align: center;
                color: $color__terciario;
                text-shadow: 0px 0px 10px #000000;
            }
        }
        > div:last-child{
            background-color: $color__cuaternario;
            position: absolute;
            width: 100%;
            height: 250px;
            padding: 10px;
            border-radius: 10px;
            backface-visibility: hidden;
            transform: perspective(600px) rotateX(180deg);
            transition: 1s;

            div{
                height: 100%;

                iframe{
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                }
            }
        }

        &:hover{
            > div:first-child{
                transform: perspective(600px) rotateX(180deg);
            }
            > div:last-child{
                transform: perspective(600px) rotateX(360deg);
            }
        }
    }
}
