* {
   Margin:0;
   padding:0;
   box-sizing: border-box;
 }
 li{
   list-style: none;
 }
 a{
   text-decoration: none;
   color: black;
   font-size: 100%;
   transition: color 0.3s, text-shadow 0.3s, font-size 0.3s;
 }
body{
   font-family: sans-serif;
   width: auto;
}